#mish_map {
    width: 400px;
    height: 500px;
    margin-right: 1em;
    float: left;
    border: 1px solid black;
}
#mish_map_loading {
    width: 400px;
    height: 500px;
    text-align: center;
    margin-right: 1em;
    float: left;
    border: 1px solid black;
    display: none;
}
#mish_map_info {
    float: left;
    padding: 0.5em;
    width: 350px;
    max-width: 350px;
    overflow-x: scroll;
}
#mish_map_buttons {
    position: absolute;
    right: 5px;
    top: 5px;
}
#mish_map_buttons ul {
    list-style: none;
}
#mish_map_buttons button {
    font-size: xx-small;
    width: 10em;
    padding: 1px;
}
#mish_map_layers {
    position: absolute;
    right: 5px;
    top: 35px;
    display: none;
}
#mish_map_layers table {
    width: auto;
    border: 1px solid black;
}
#mish_map_layers table thead tr td {
    background-color: rgba(136,0,0,0.5);
    color: white;
    border: 1px solid black;
    padding-left: 0.5em;
}
#mish_map_layers table tbody tr td {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.clear {
    clear: both;
}
.ol-attribution {
    font-size: x-small;
}
